<h2>Reactive: Switches</h2>
<hr>


<form  [formGroup]="myForm" (ngSubmit)="onSave()" autocomplete="off">

  <!-- Radio -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Gender</label>
    <div class="col-sm-9">

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="M"
          id="radioMale"
          formControlName="gender"
          name="gender"
          checked
        >
        <label class="form-check-label" for="radioMale">
          Male
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="Female"
          id="radioFemale"
          formControlName="gender"
          name="gender"
        >
        <label class="form-check-label" for="radioFemale">
          Female
        </label>
      </div>

    </div>
  </div>

  <!-- Switches -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Notifications</label>
    <div class="col-sm-9">

      <div class="form-check form-switch mt-2">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckChecked"
          formControlName="wantNotifications"
        >
        <label class="form-check-label" for="flexSwitchCheckChecked">I want to receive notifications</label>
      </div>

    </div>
  </div>

  <!-- Switches -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexCheckDefault"
          formControlName="termsAndConditions"
        >
        <label class="form-check-label" for="flexCheckDefault">
          Terms and conditions of use
        </label>
      </div>
      <span *ngIf="isInvalidField('termsAndConditions')" class="form-text text-danger">
        You must accept the conditions of use
      </span>
    </div>
  </div>


  <!-- Submit button -->
  <div class="row">
    <div class="col">
      <button
        class="btn btn-primary float-end"
        type="submit"
      >
        Save
      </button>
    </div>
  </div>

</form>


<h5>Form values</h5>
<pre>{{ myForm.value | json }}</pre>
<br>

<h5>Person</h5>
<pre>{{ person | json }}</pre>
<br>

<h5>Valid</h5>
<pre>{{ myForm.valid | json }}</pre>

