<h2>Reactive: Basics</h2>
<hr>
<div class="row">
  <div class="col">
    <form [formGroup]="myForm" (ngSubmit)="onSave()" autocomplete="off">

      <!-- Product field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Product</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Product name"
            formControlName="name"
          >
          <span *ngIf="isInvalidField('name')" class="form-text text-danger">
              {{getFieldError('name')}}
          </span>
        </div>
      </div>

      <!-- Product field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Price</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Product price"
            formControlName="price"
          >
          <span *ngIf="isInvalidField('price')" class="form-text text-danger">
            Price must be 0 or higher
          </span>
        </div>
      </div>

      <!-- Existences field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existences</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Product existences"
            formControlName="inStorage"
          >
          <span *ngIf="isInvalidField('inStorage')" class="form-text text-danger">
            Existences must be 0 or higher
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end"
          >
            Save
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
<div class="row">
  <div class="col">

    <span>Valid</span>
    <pre>{{ myForm.valid | json }}</pre>

    <span>Pristine</span>
    <pre>{{ myForm.pristine | json }}</pre>

    <span>Touched</span>
    <pre>{{ myForm.touched | json }}</pre>

    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>

    <span>Price value</span>
    <pre>{{ myForm.controls['price'].value | json }}</pre>

    <span>Price errors</span>
    <pre>{{ myForm.controls['price'].errors | json }}</pre>

    <span>Product value</span>
    <pre>{{ myForm.controls['name'].value | json }}</pre>

    <span>Product errors</span>
    <pre>{{ myForm.controls['name'].errors | json }}</pre>
  </div>
</div>
